.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  font-size: 14px;
  min-width: 400px;
  border-radius: 3px;
  p {
    margin-bottom: 0;
  }
  &-green {
    background-color: #37b06f;
    color: #fff;
  }
  animation: slideDown 0.5s linear;
}

@keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-100px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
