$primary-color: #fff;
$secondary-color: #ffca00;
$bgyellowColor: #f6c301;
$bggeryColor: #f5f5f5;
$colorBlack: #070602;
$paracolorBlack: #222222;
$linkColor: #8a6d00;
$inputColor: #a8a8a8;
$bglightgrey: #f8f8f8;
$yellowlightbg: #ffe47f;
$colorspan: #6c6133;
$tablehead: #9b9b9b;
$greybody: #f4f4f4;
$colorfullBlack: #000000;
$togglecolor: #888888;
$yellowtoggle: #f8c400;
$modalhead: #11152d;
$bordercolor: #ededf2;
$greylight: #606060;
$colorLight: #9a9a9a;
$colorslider: #414141;
