@import "../../../public/assets/scss/variables.scss";

.carousel.slide {
  background: transparent;

  & img {
    width: auto;
    max-height: 100%;

    /* media queries */
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  & .onboardimg {
    text-align: center;
    overflow: hidden;
    height: calc(100vh - 380px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .carousel-control-prev {
    color: $paracolorBlack;
    opacity: 1;
    top: auto;
    bottom: 6%;
    left: auto;
    right: 6%;

    /* media queries */
    @media (max-width: 767px) {
      right: 18%;
    }
  }
  & .carousel-control-next {
    color: $paracolorBlack;
    opacity: 1;
    top: auto;
    bottom: 6%;

    /* media queries */
    @media (max-width: 767px) {
      right: 12px;
    }
  }
  & .carousel-control-prev-icon {
    display: none !important;
    background: none;
  }
  & .carousel-control-next-icon {
    display: none !important;
    background: none;
  }
  .sr-only {
    clip: auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $paracolorBlack;
    text-decoration: none;
    overflow: visible;
  }
  .boardContent {
    height: calc(100vh - 348px);
  }
}
