@import "../../../public/assets/scss/variables.scss";

.thankyouModal {
  padding: 0px !important;
  & .bgBlack {
    background: $colorBlack;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
  }

  & h5 {
    font-weight: 500;
    font-size: 30px;
    line-height: 133%;
    display: flex;
    align-items: center;
    color: $primary-color;
  }
  & p {
    font-size: 17px;
    line-height: 131%;
    color: $primary-color;
  }
  & .btn-btnWhite,
  .btn-btnWhite:hover {
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 5px;
    color: $primary-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 26px;
  }
}
